<h2><%= current_user.username %>'s Year (so far)</h2><br />

<p>Resolutions</p>
<ol>
<% current_user.resolutions.each do |res| %>
  <li><label for="<%= res.id%>"><%=res.name%></input></label></li>
    <a href="/resolutions/<%=res.id%>/edit">Edit</a>
    <br></br>
<% end %>
</ol>
<br>

<p>Events</p>
<ul>
<% current_user.events.each do |event| %>
  <li><a href="/events/<%=event.id%>"><%= event.name %></a></li><br />
<% end %>
</ul>
<br>
