<!-- left column -->
<div class="col-sm-5">

     <div class="panel panel-default" style="background-color: #CBD1D8; border-color: #CBD0D5;">
       <div class="panel-body text-center">
         <p class="lead display-4"><span class="glyphicon glyphicon-user" aria-hidden="true" style="color: #0F73F2;"></span>
            Welcome, <%= current_user.username %>!
        </p>
       </div>
     </div>

     <div class="panel panel-default">

       <div class="panel-heading display-4">
          <h4>Your Resolutions <a class="badge" href="/resolutions/new">new</a></h4>
        </div>
         <div class="panel-body">
           <div class="list-group">
             <ol>
             <% current_user.resolutions.each do |res| %>
                <li><label for="<%= res.id%>"><%=res.name%></input></label></li>
                  <a class="btn btn-outline-primary" href="/resolutions/<%=res.id%>/edit">Edit</a>
                <br></br>
             <% end %>
            </ol>

           </div>
          </div>
      </div>
    </div>

<!-- right column -->
<div class="col-sm-7">

  <div class="panel panel-default">
    <div class="panel-heading display-4"><h4>What Is This Year?</h4></div>
        <div class="panel-body">
          Years seems to pass incredibly fast and before you know it, those resolutions from the beginning of the year
          are forgotten and your left wondering <i>"What actually happened this year?"</i>
            <br><b>That's where This Year comes in!</b></br>
          This year helps you remember the resolutions you made in the beginning of the year, while also tracking the
          events that happened throughout the year- big or small!
          <br />Whether you started your dream career or finally
          tried that fancy restaurant you've been dying to check out- This Year compiles all of your moments so
          you can look back and reminisce on all the fun things you've accomplished come December.
        </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading display-4">
         <h4>Your Events <a class="badge" href="/events/new">new</a></h4>
       </div>
        <div class="panel-body">
          <div class="list-group">
            <ul>
              <% Event.order(:date).each do |event| %>
                <% if event.user == current_user %>
                  <% current_user.events.each do |event| %>
                    <div class="container">
                      <li><%= event.date %></li>
                        <label for="<%= event.id%>"><%=event.name%></input></label><br />
                          <a class="btn btn-outline-primary" href="/events/<%=event.id%>/edit">Edit</a>
                    </div>
                    <br></br>
                    <% end %>
                  <% end %>
                <% end %>
              </ul>
            </div>
         </div>
       </div>
     </div>
  </div>
