<!-- left column -->
<div class="col-sm-5">

     <div class="panel panel-default">
       <div class="panel-body">
         <p class="lead"> Welcome, <%= current_user.username %></p>
         <p>Your Year (so far!)</p>
       </div>
     </div>

     <div class="panel panel-default">

       <div class="panel-heading">
          <h4>Your Resolutions</h4>
        </div>
         <div class="panel-body">
           <div class="list-group">
             <ol>
             <% current_user.resolutions.each do |res| %>
                <li><label for="<%= res.id%>"><%=res.name%></input></label></li>
                  <a href="/resolutions/<%=res.id%>/edit">Edit</a>
                <br></br>
             <% end %>
            </ol>

           </div>
          </div>
      </div>
    </div>

<!-- right column -->
<div class="col-sm-7">

  <div class="panel panel-default">
    <div class="panel-heading"><h4>What Is This Year?</h4></div>
        <div class="panel-body">
          Years seems to pass incredibly fast and before you know it, those resolutions from the beginning of the year
          are forgotten and your left wondering <i>"What actually happened this year?"</i>
          <br><b>That's where This Year comes in!</b></br>
          This year helps you remember the resolutions you made in the beginning of the year, while also tracking the
          events that happened throughout the year- big or small!
          <br />Whether you started your dream career or finally
          tried that fancy restaurant you've been dying to check out- This Year compiles all of your moments so
          you can look back and reminisce on all the fun things you've accomplished come December.
        </div>
    </div>

    <div class="panel panel-default">

      <div class="panel-heading">
         <h4>Your Events</h4>
       </div>
        <div class="panel-body">
          <div class="list-group">
            <ul>
              <% Event.order(:date).each do |event| %>
                <% if event.user == current_user %>
                  <% current_user.events.each do |event| %>
                    <li><%= event.date %></li>
                      <label for="<%= event.id%>"><%=event.name%></input></label>
                        <a href="/events/<%=event.id%>/edit">Edit</a>
                    <br></br>
                    <% end %>
                  <% end %>
                <% end %>
              </ul>
            </div>
         </div>
       </div>
     </div>
  </div>
