<h3><%= current_user.username %>'s Events</h3><br />

<ul>
<% Event.order(:date).each do |event| %>
  <% if event.user == current_user %>
      <li><%= event.date %></li>
        <a href="/events/<%=event.id%>"><%= event.name %></a><br />
        <%= event.description unless nil %>
        <br></br>
  <% end %>
<% end %>
