<h3><%= current_user.username %>'s Resolutions</h3><br />

<ul>
<% current_user.resolutions.each do |res| %>
  <label for="<%= res.id%>"><input type="checkbox" name="resolutions" id="<%= res.id%>" value="<%=res.id%>"
    <%='checked' if @current_user.resolutions.include?(res) %>> <%=res.name%></input>
    <a href="/resolutions/<%=res.id%>/edit">Edit</a>
    <br></br>
<% end %>
</ul>
