<h3>Add a Resolution</h3>

<!-- warning/flash message -->
<% if flash.has?(:message) %>
  <div class="alert alert-warning" role="alert">
      <%= flash[:message] %>
  </div>
<% end %><br></br>


<form action="/resolutions/show" method="POST">
  <label for="exists"></label>
  <%Resolution.all.each do |res|%>
    <% if !current_user.resolutions.include?(res) %>
      <label for="<%=res.id%>"><input type="checkbox" name="id[]" value="<%=res.id%>" id="<%=res.id%>"> <%=res.name%></input>
        <br></br>
    <% end %>
  <%end%>

  <label for="new_name">Resolution Name:</label>
    <input type="text" name="resolution[name]" placeholder="ex. Drink more water." id="new_name"></input><br></br>

  <input type="submit" value="submit">
</form>
