<div class="container mt-4">
  <h3 class="display-4 text-center">Add a Resolution</h3>

<!-- warning/flash message -->
<% if flash.has?(:message) %>
  <div class="alert alert-warning" role="alert">
      <%= flash[:message] %>
  </div>
<% end %>

<form action="/resolutions/show" method="POST">
  <div class="row justify-content-center">
  <div class="form-group col-md-4">
      <!-- Scrollbar -->
      <div class="container" style="margin-top:20px;">
	       <div class="row">
           <div class="col-xs-4">
            <h4 class="text-center">Choose an Existing Resolution:</h4>
            <div class="well" style="max-height: 200px;max-width: 500px;overflow: auto;">
        		<ul class="list-group checked-list-box">
            <label for="exists"></label>

          <% if current_user.resolutions.size >=  Resolution.all.size %>
            <li class="list-group-item"><%= "You already have all of these!" %></li>
          <% else %>
              <%Resolution.all.each do |res|%>
                <% if !current_user.resolutions.include?(res) %>
                  <li class="list-group-item"><label for="<%=res.id%>"><input type="checkbox" name="res_id[]" value="<%=res.id%>" id="<%=res.id%>">  <%=res.name%></input></li>
                <% end %>
              <%end%>
          <% end %>

            </ul>
          </div>
        </div>
    </div>
<br />
  <h4><label>and/or Create a New Resolution:</label></h4>
  <form class="form-inline">
  <div class="form-group col-xs-4">
    <label for="new_name" style="margin-right: 30px" >Resolution Name:</label>
      <input class="form-control" type="text" name="resolution[name]" placeholder="ex. Drink more water." id="new_name"></input><br></br>

      <div class="row justify-content-center">
        <button type="button" class="btn btn-primary">Create</button>
      </div>
  </div>
</form>
